<main class="page__main">

    <form class='form'>
        <input class="form__input js-search_input_title" type="text" name="search" id="search"
            placeholder="Escribe aqui...">
        <input class='form__button-search js-button_search' type="button" value='Buscar'>
        <input type="button" value='Reset' class="form__button-reset js-button_reset">

    </form>
    <div class="containers">
        <div class='container__cards'>
            <section class="cards__anime js-anime_list">
            </section>
        </div>
        <div class='fav__container'>
            <section class="fav__section ">
                <h3 class="fav__section-title">Series favoritas</h3>
                <ul class=" js-anime_list_fav"> </ul>
                <input type="button" value='Reset' class='js-button_reset_fav fav__section-reset'>
                
            </section>
            <ul class=" js-main_list"></ul>
        </div>
    </div>
</main>