.page__footer{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
    box-sizing: content-box;
}
.footer__copy {
    position: relative;
    top: 10px;
    padding-left: 30px;
}