.page__footer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  align-items: center;
  padding: 20px;
  background-color: #3cff5c;
  @include backColor;
}
.footer__copy {
  font-weight: bold;
}
