.page__header {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100px;
  background-color: #3cff5c;
  @include backColor;

}
.header__title {
  font-family: $textfont;
  font-size: 25px;
  padding-left: 15px;
  @include tablet {
    font-family: $textfont;
    font-size: 50px;
    padding-left: 30px;
  }
}
.image__header {
  padding: 10px;
}
