body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  font-family: $textfont;
}

.page__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e6f4fd;
}

.form {
  display: flex;
  width: 100%;
  padding: 30px 0 0 30px;

  &__input {
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    border: 1px solid;
  }

  &__button-search {
    margin-left: 10px;
    padding: 0 10px;
    width: 80px;
    height: 30px;
    @include buttonStyle;
    @include tablet {
      width: 100px;
      height: 30px;
    }
  }

  &__button-search:hover {
    @include buttonHover;
    @include tablet {
      width: 100px;
      height: 30px;
    }
  }

  &__button-reset {
    margin-left: 10px;
    padding: 0 10px;
    width: 80px;
    height: 30px;
    @include buttonStyle;
    @include tablet {
      width: 100px;
      height: 30px;
    }
  }

  &__button-reset:hover {
   @include buttonHover;
  }
}
.containers {
  display: flex;
  width: 100%;
  justify-content: left;
}

.container__cards {
  display: flex;
  justify-content: center;

  order: 2;
}

.fav__container {
  display: flex;
  justify-content: left;
}

.cards__anime {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 15px 10px 10px 40px;
  border-radius: 10px;
  @include tablet {
    margin: 30px 10px 10px 10px;
  }
}
.js-anime {
  width: 150px;
  height: 250px;
  margin: 0px 5px 5px 5px;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #4ba095;
  padding-bottom: 10px;
  @include tablet {
    width: 200px;
    height: 400px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    border-radius: 10px;
    border: 6px solid #4ba095;
    padding-bottom: 20px;
  }
}

.fav__section {
  /*
  min-width: 300px;
  max-width: 300px;
  height: auto;
  min-height: 100vh;
  margin: 30px;
  border: 6px solid #2b86c5;
  text-align: center;
  padding: 20px 10px 20px 10px;
  font-size: 24px;
  border-radius: 10px;
*/
  width: 150px;
  border: 4px solid #2b86c5;
  text-align: center;
  padding: 5px 0px 5px 0px;
  font-size: 12px;
  border-radius: 10px;
  margin-top: 15px;
  @include tablet {
    border: 6px solid #2b86c5;
    text-align: center;
    padding: 10px 5px 10px 5px;
    font-size: 18px;
    border-radius: 10px;
    margin: 30px;
    width: 400px;
  }

  &-title {
    font-size: 25px;
    @include tablet {
      font-size: 40px;
    }
  }
  &-reset {
    margin-left: 10px;
    padding: 0 10px;
    width: 80px;
    height: 30px;
    @include buttonStyle;
    @include tablet {
      width: 100px;
      height: 30px;
    }
  }
  &-reset:hover {
    background: #3cff5c;
    background: linear-gradient(0deg, #3cff5c 0%, #4ba095 100%);
    font-size: 18px;
    @include tablet {
      width: 100px;
      height: 30px;
    }
  }
}
li {
  list-style: none;
}

.js-card__title {
  width: 100%;
  text-align: center;
  font-size: 14px;
  @include tablet {
    font-size: 24px;
    padding-top: 10px;
  }
}

.js-image {
  width: 100px;
  height: 200px;
  padding-top: 15px;
  text-align: center;
  @include tablet {
    width: 180px;
    height: 270px;
    padding-top: 30px;
    text-align: center;
  }
}

.js-favItem {
  width: 120px;
  height: 230px;
  margin: 0px 5px 5px 10px;
  text-align: center;
  border-radius: 10px;
  border: 4px solid #2b86c5;
  padding-bottom: 10px;
  color: black;
  @include backColor;
  @include tablet {
    width: 200px;
    height: 400px;
    margin: 0px 10px 10px 100px;
    text-align: center;
    border-radius: 10px;
    border: 6px solid #2b86c5;
    padding-bottom: 20px;
  }

  

}
.js-fav {
  border: 6px solid #2b86c5;
  color: white;
@include backColor;
}
.js-image-fav {
  width: 100px;
  height: 200px;
  padding-top: 15px;
  text-align: center;
  @include tablet {
    width: 180px;
    height: 270px;
    padding-top: 30px;
    text-align: center;
  }
}

.card__title{

  font-size: 14px;
  @include tablet {
    font-size: 24px;
  }
}